.vs/** 
Debug/**
*.db
*/.vs/**
/lib/aidserv.lib
/demo/Release
/demo/Debug
/Release
/aiddll/x64
/x64
/aid/x64
/aid/Debug
/aid/Release
/Debug
/examples/cpp/Release
/examples/cpp/Debug
/examples/csharp/obj
/examples/csharp/Properties
/examples/csharp/bin
